<h2>Boxes</h2>
<ul class="memorycardes">
	<li *ngFor="let memorycard of heroes" [class.selected]="memorycard === selectedMemorycard" (click)="onSelect(memorycard)">
		<span class="badge">{{memorycard.id}}</span> {{memorycard.name}}
	</li>
</ul>

<div *ngIf="selectedMemorycard">

	<h2>{{selectedMemorycard.name | uppercase}} Details</h2>
	<div><span>id: </span>{{selectedMemorycard.id}}</div>
	<div>
		<label>name:
      <input [(ngModel)]="selectedMemorycard.name" placeholder="name"/>
    </label>
	</div>

</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->