<h2>Harddrives</h2>
<ul class="harddrives">
	<li *ngFor="let harddrives of harddrives" [class.selected]="harddrives === selectedHarddrives" (click)="onSelect(harddrives)">
		<span class="badge">{{harddrives.id}}</span> {{harddrives.name}}
   
	</li>
</ul>
<button class="btn btn-primary" [disabled]="true">Next</button>
<div *ngIf="selectedHarddrives">

	<h2>{{selectedHarddrives.name | uppercase}} Details</h2>
	<div><span>id: </span>{{selectedHarddrives.id}}</div>
	<div>
		<label>name:
      <input [(ngModel)]="selectedHarddrives.name" placeholder="name"/>
    </label>
	</div>

</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->