<h2>Powers</h2>
<ul class="poweres">
	<li *ngFor="let power of heroes" [class.selected]="power === selectedBox" (click)="onSelect(power)">
		<span class="badge">{{power.id}}</span> {{power.name}}
	</li>
</ul>

<div *ngIf="selectedBox">

	<h2>{{selectedBox.name | uppercase}} Details</h2>
	<div><span>id: </span>{{selectedBox.id}}</div>
	<div>
		<label>name:
      <input [(ngModel)]="selectedBox.name" placeholder="name"/>
    </label>
	</div>

</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->